.uifry-com-waiting-list-and-fee-bundle .trending-topic-1 {
  margin: 0 9.1px 0.7px 0;
  width: 47.9px;
  height: 47.9px;
}
.uifry-com-waiting-list-and-fee-bundle .uifry {
  margin-top: 7.3px;
  width: 92.8px;
  height: 41.3px;
}
.uifry-com-waiting-list-and-fee-bundle .group-1 {
  margin-right: 2.6px;
  display: flex;
  flex-direction: row;
  width: 149.8px;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .tm {
  margin: 14.5px 0 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 800;
  font-size: 5.9px;
  color: #FFFFFF;
}
.uifry-com-waiting-list-and-fee-bundle .group-1000002571 {
  margin: 0 0 21.9px 20px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .group-20 {
  margin: 0 31.8px 136.5px 31.8px;
  width: 85.5px;
  height: 80.8px;
}
.uifry-com-waiting-list-and-fee-bundle .group-21 {
  transform: rotate(158.506deg);
  margin: 0 10.2px 107.7px 0;
  width: 139.5px;
  height: 136.1px;
}
.uifry-com-waiting-list-and-fee-bundle .group-22 {
  opacity: 0.05;
  width: 78.9px;
  height: 74.6px;
}
.uifry-com-waiting-list-and-fee-bundle .container-3 {
  margin: 217.7px 95.2px 193.4px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 149.8px;
  height: fit-content;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .image-1 {
  border-radius: 13px;
  border: 25.9px solid rgba(255, 255, 255, 0.2);
  background: url('../assets/images/image_1.png');
  position: relative;
  margin-right: 50.8px;
  width: 968px;
  height: 729.6px;
}
.uifry-com-waiting-list-and-fee-bundle .group-19 {
  margin-bottom: 74.4px;
  align-self: flex-end;
  width: 75.9px;
  height: 80.3px;
}
.uifry-com-waiting-list-and-fee-bundle .emmental-2 {
  width: 130.1px;
  height: 130.5px;
}
.uifry-com-waiting-list-and-fee-bundle .emmental-1 {
  opacity: 0.05;
  transform: rotate(-43.594deg);
  display: flex;
  align-self: flex-start;
  padding: 4.1px 4.3px;
  width: 138.7px;
  height: 138.7px;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .container-1 {
  margin: 246.2px 0 190px 0;
  display: flex;
  flex-direction: column;
  width: 170.2px;
  height: fit-content;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .container-5 {
  display: flex;
  flex-direction: row;
  width: 1433.9px;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1433.9px;
  height: fit-content;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .emmental-4 {
  width: 108.6px;
  height: 109px;
}
.uifry-com-waiting-list-and-fee-bundle .emmental-3 {
  opacity: 0.05;
  transform: rotate(-43.594deg);
  display: flex;
  padding: 3.4px 3.6px;
  width: 115.8px;
  height: 115.8px;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .group-6 {
  opacity: 0.05;
  margin: 2.8px 0 50.7px 0;
  width: 65.9px;
  height: 62.3px;
}
.uifry-com-waiting-list-and-fee-bundle .container-2 {
  margin: 0px 126.7px 62.1px 126.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1111.9px;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .group-3 {
  margin: 0 100.4px 239.7px 100.4px;
  align-self: flex-start;
  width: 63.4px;
  height: 67px;
}
.uifry-com-waiting-list-and-fee-bundle .group-4 {
  margin: 30.4px 0 11.8px 0;
  width: 67.5px;
  height: 71.4px;
}
.uifry-com-waiting-list-and-fee-bundle .group-5 {
  transform: rotate(158.506deg);
  width: 116.5px;
  height: 113.7px;
}
.uifry-com-waiting-list-and-fee-bundle .container-4 {
  margin: 0 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1388.3px;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .group-1000002572 {
  opacity: 0.2;
  position: absolute;
  left: 94px;
  top: -120.5px;
  right: 72.7px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.uifry-com-waiting-list-and-fee-bundle .emmental {
  transform: rotate(45deg);
  position: absolute;
  left: 69px;
  top: 150.1px;
  width: 132.8px;
  height: 132.8px;
}
.uifry-com-waiting-list-and-fee-bundle {
  border-radius: 10px;
  background: linear-gradient(283.53deg, #FF5E08 101.2%, #FF9963 200%);
  display: flex;
  padding: 72.6px 77px 0 44.1px;
  width: 1555px;
  box-sizing: border-box;
}
